body{
    background-color: blanchedalmond;
    
    
}
div{
  overflow: auto;
  border-color: none none none chocolate;
  border-width: none none none 2px;   
  border-style: none none none solid;
}
img{
    margin: 15px;
    border: 3px solid sienna;
    padding: 2px;
}
h1{
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
    font-size: small;
}

#Paris{
    float: hidden;
    font-family: sans-serif;
    border-color: none none chocolate none;
    border-width: none none 100px none;   
    border-style: none none solid none;
}
}
#Notre-dame{

    font-family: sans-serif;
    border-color: none none chocolate none;
    border-width: none none 100px none;   
    border-style: none none solid none;
}
}
#Louvre{
    font-family: sans-serif;
    border-color: none none chocolate none;
    border-width: none none 100px none;   
    border-style: none none solid none;
}
}
#Eiffel{
    font-family: sans-serif;
    border-color: none none chocolate none ;
    border-width: none none 100px none;   
    border-style: none none solid none;
}
#img1{
    float:left;
    width: 10%;
}
#img2{
    float:right;
    width: 10%;
}
#img3{
    float:left;
    width: 10%;
}
#img4{
    float:right;
    width: 10%;
}
#img5{
    float:left;
    width: 10%;
}
